:root {
  --text-color: rgba(256, 256, 256, 0.5);
  --border-color: rgba(256, 256, 256, 0.05);

}

.About {
    overflow: hidden;
    border-top: 2px solid;
    border-top-color: var(--border-color);
    margin-top: -2px;
}

.content {
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-text {
  text-decoration: none;
  color: var(--text-color);
}
